doctype html
html(lang='en')
  head
    title pwa-sample app
    meta(charset='utf-8')
    meta(name="description", content="PWA sample app")
   meta(name="author", content="pwa-sample")
   meta(name="theme-color", content="#B12A34"
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk",  crossorigin="anonymous")
    scripts(rc="app.js", defer></script)
body
  .card.text-center
  header
    h1 pwa sample
  main
    button#notifications.btn.btn-primary(type="button") Request notifications
    section#content
   footer pwa sample app
